{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}


{%block conteudo%}
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-success" role="alert"{% endif %}>
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'images/logo.png' %}" alt="Logo Empresa" width="72" height="72">
        <h2>Adicionar Departamento</h2>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <h4 class="mb-3">Informações</h4>
            <form class="needs-validation" method="POST">
                <div class="form-row justify-content-center">
                    {% csrf_token %}
                    <div class="col-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.company|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.status|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.admin|as_crispy_field }}
                    </div>
                    <div class="col-2 pt-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    {%endblock conteudo%}