{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}

{%block conteudo%}
<form method="POST" class="post-form" action="/updateCompany/{{company.id}}">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Update Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Company Id:</label>
            <div class="col-sm-4">
                <input type="text" name="id" required maxlength="20" value="{{ company.id }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Company Name:</label>
            <div class="col-sm-4">
                <input type="text" required name="name" maxlength="100" value="{{ company.name }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Company Logo:</label>
            <div class="col-sm-4">
                <input type="text" required maxlength="100" name="department" value="{{ company.logo }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Company Legal Number:</label>
            <div class="col-sm-4">
                <input type="text" required maxlength="100" name="user" value="{{ company.legal_number }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</form>
{%endblock conteudo%}